{% extends "base.html" %}

{% block body %}

    <form method="POST" action="." class="pure-form  pure-form-stacked">
      <fieldset>

        {% if paste_form.contents.errors %}
            {% for error in paste_form.contents.errors %}
                {{ error }}<br/>
            {% endfor %}</ul>
        {% endif %}
        {% if paste_form.language.errors %}
            {% for error in paste_form.language.errors %}
                {{ error }}<br/>
            {% endfor %}</ul>
        {% endif %}

        <label for="contents">
            What would you like to discuss?
        </label>
        {{ paste_form.contents(rows=30, cols=100) }}

        <label for="language">
            Pick the language for syntax highlighting, or we will take a guess.
        </label>
        {{ paste_form.language() }}

        <input type="submit" class="pure-button pure-button-primary" value="Submit">
      </fieldset>
    </form>

    {{ paste_form.content }}
{% endblock %}
